html, body {
  height: 100%;
  width: 100%;
}

*,*::before,*::after{
  margin:0;
  padding:0;
}

input,button{
  font-family:inherit;
}

.outer_border{
 --content-padding:1.5em;
  
  width:70%;
  height:80%;
  border: 2px solid black;
  background:url("image/trainstation.jpg");
  background-size:cover;
  margin:0 auto;
}

.app_content{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
 }

.app_content h1{
  color:#EFE1C7;
  margin:1em 0;
  text-shadow: 0 0 30px white;
}

#count-el{
  color:#F0CBCB;
  margin-bottom:0.5em;
  font-size:3em;
}

.btn{
  margin:1.0em;
  padding: 1em 2.5em; 
  border-radius:5px;
  text-transform:uppercase;
  border:2px solid #EFE1C7;
  font-size:1em;
  color:white;
 }

#increase_btn{
  background-color:cadetblue;
 }

#save_btn{
  margin-top:0;
  background-color:green;
}


#display_entry{
  padding-top:0.5em;
  color:#F0CBCB;
  text-shadow: 0 0 70px #2F2722;
  margin:1em;
}




